* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-container {
    border: 1px solid seagreen;
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin: 50px 150px;
}

.header {
    border: 1px dashed steelblue;
    display: flex;
    justify-content: center;
}

.new-book-button {
/*  display: flex;
    flex-direction: column;
    align-items: center;*/
    margin: auto;
}

.input-form {
    border: 1px dashed steelblue;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*.input-form {
    display: none;
}*/

textarea {
    height: 50px;
}

.book-table tr {
    border: 1px dashed steelblue;
    display: grid;
    grid-template-columns: 2fr 2fr 1fr 1fr 2fr 0.5fr 0.5fr 0.5fr;
    justify-items: center;
}

th {
    border: 1px dotted purple;
}

/*.grid-container {
    display: flex;
    justify-content: center;
}*/

.library {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 0.5fr));
    gap: 15px;
    justify-self: center;
}

.book-card {
    border: 1px dashed orange;
    display: grid;
    justify-items: center;
    background-color: white;
    box-shadow: 5px 5px 5px darkgrey;
    border-left: 10px solid #eab308;
    border-radius: 5px;
    height: 225px;
    padding: 25px 15px;
}